
@{
    ViewBag.Title = "Visão Geral";

    if (ViewBag.Gerente == 3) // or other custom logic
    {
        Layout = "~/Views/Shared/_LayoutSistemaGerente.cshtml";
    }
    else if (ViewBag.Gerente == 2)
    {
        Layout = "~/Views/Shared/_LayoutSistema.cshtml";
    }
}
<section class="all">
    <section class="dashInfo">

        <div>
            <p>VENDAS</p>
            <div class="dashitens">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package"><path d="M12.89 1.45l8 4A2 2 0 0 1 22 7.24v9.53a2 2 0 0 1-1.11 1.79l-8 4a2 2 0 0 1-1.79 0l-8-4a2 2 0 0 1-1.1-1.8V7.24a2 2 0 0 1 1.11-1.79l8-4a2 2 0 0 1 1.78 0z"></path><polyline points="2.32 6.16 12 11 21.68 6.16"></polyline><line x1="12" y1="22.76" x2="12" y2="11"></line><line x1="7" y1="3.5" x2="17" y2="8.5"></line></svg>
                <span>@ViewBag.VendaCount</span>
            </div>
        </div>

        <div>
            <p>CLIENTES</p>
            <div class="dashitens">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                <span>@ViewBag.ClienteCount</span>
            </div>
        </div>

        <div>
            <p>Produtos</p>
            <div class="dashitens">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                <span>@ViewBag.ProdutoCount</span>
            </div>
        </div>

        <div>
            <p>Funcionários</p>
            <div class="dashitens">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                <span>@ViewBag.FuncionarioCount</span>
            </div>
        </div>
    </section>
</section>

<section class="tituloSistema btnRela">
    <div>
    @if (ViewBag.Gerente == 3)
    {

        <h2>Bem Vindo, Gerente @ViewBag.Usuario</h2>
    }
    else
    {
        <h2>Bem Vindo, @ViewBag.Usuario</h2>
    }
    <h3>@DateTime.Now.ToString("dd/MM/yyyy")</h3>
    </div>
    <a href="~/Sistema/Relatorio" target="_blank" class="btnNormal relatorio">Gerar Relátorio de Vendas</a>
</section>

<section class="sistemaTabelas">
  

    <div>
        <h4>Produtos mais vendidos</h4>

        @Html.Raw(ViewBag.maisVendidos)
    </div>

    <div>
        <h4>Produtos menos vendidos</h4>

        @Html.Raw(ViewBag.menosVendidos)
    </div>

    <div>
        <h4>Produtos fora de estoque</h4>

        @Html.Raw(ViewBag.foraEstoque)
    </div>
</section>

